.DS_Store
*.zip

# Xcode
xcuserdata/
*.xcuserstate
*.hmap
timeline.xctimeline
playground.xcworkspace
.build/

# Build output
build/
DerivedData/

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
